* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

a {
    text-decoration: none;
}

body {
    min-width: 1000px;
}

#results_header {
    position: relative;
    height: 59px;
    width: 100%;
    background-color: #f1f1f1;
    border-bottom: 1px solid #e5e5e5;
}

.sprites {
    display: inline-block;
    background: url("../images/nav_logo242.png");
    background-repeat: no-repeat;
}

#logo_container {
    display: inline-block;
    padding: 10px 13px; 
}

#logo_container a {
    display: block;
    height: 37px;
    width: 95px;
    overflow: hidden;
    position: relative;
}

#logo_container a img {
    position: absolute;
    top: -41px;
}

form {
    display: inline-block;
}

input[type=text] {
    position: relative; bottom: 12px;
    height: 40px;
    width: 570px;
    font-size: 1em;
    font-weight: normal;
}

#submit_cont {
    position: relative; bottom: 14px;
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #4285F4;
    border-radius: 0px 2px 2px 0px;
}

input[type=submit] {
    width: 30px;
    height: 27px;
    margin: 5px;
    background-position: -104px -53px;
    border: none;
}

#results_header ul {
    display: inline-block;
    position: absolute;
    right: 40px;
}

#name {
    position: relative; bottom: 7px;
}

#results_header ul li {
    display: inline-block;
    margin: 15px 5px;
}

#results_header ul li img {
    height: 30px;
    width: 30px;
}

ul, li {
    display: inline-block;
}

#menu_rt {
    display: inline-block;
    position: absolute;
    right: 45px;
    top: 14px;
    height: 30px;
}

#settings_lnk {
    position: relative;
    display: inline-block;
    height: 30px;
}

#public_switch, #settings {
    display: inline-block;
    height: 30px;
    overflow: hidden;
}

#public_switch {
    width: 90px;
    position: relative;
    margin-right: 12px;
}

#public_switch a {
    height: 30px;
    display: inline-block;
}

#public_switch a div {
    overflow: hidden;
    display: inline-block;
    width: 43px;
    height: 28px;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 2px 0px 0px 2px;
    margin: 0;
    padding: 0;
    background-color: #e0e0e0;
}
#public_switch a div div{
    width: 16px;
    height: 16px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin: 5px 14px;
    border: none;
    background-color: transparent;
}

#public_switch .nlb {
    border-left: none;
    border-radius: 0px 2px 2px 0px;
    background-color: #eee;
}

#private {
    position: absolute;
    top: -327px;
    left: -14px;
}

#public {
    position: absolute;
    top: -327px;
    left: -29px;
}

#settings {
    width: 75px;
    border: 1px solid #ccc;
    height: 28px;
    background-color: #eee;
    position: relative;
}

#settings div {
    height: 20px;
    width: 20px;
    overflow: hidden;
    position: relative;
    display: block;
    margin: 4px auto;
}

#settings div img {
    position: absolute;
    top: -258px;
    left: -42px;
}

#menu_bar {
    width: 100%;
    height: 58px;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    position: relative;
}

#menu_bar ul {
    margin-left: 125px;
    margin-top: 18px;
}

.selected {
    color: blue !important;
    font-weight: bold;
}

#menu_bar ul li a {
    text-decoration: none;
    color: #666;
    margin: 6px 12px;
    font-size: .9em;
}

#profile {
    height: 32px !important;
    width: 32px !important;
    border-radius: 100%;
    top: 11px;
}

#l_col {
    position: absolute;
    left: 136px;
    margin-top: 13px;
    width: 550px;
}

#num_res {
    font-size: .8em;
    color: #808080;
    margin-bottom: 20px;
}

#news {
    border-bottom: 1px solid #ebebeb;
}

#news img {
    display: inline-block;
    float: left;
}

#news_top {
    height: 100px;
    width: 400px;
    display: inline-block;
    float: left;
    margin-bottom: 14px;
    padding-left: 8px;
}

#news_top p {
    font-size: .84em;
    margin-bottom: 2px;
}

.source {
    font-size: .8em !important;
    color: #006621;
    margin: 2px 0 9px 0;
}

.source span {
    color: #808080;
}

h3, h4, h5 {
    font-weight: normal
}

h4 {
    color: #808080;
    margin: 8px 0;
    font-size: 1.1em;
}

p {
    color: #545454;
}

.more {
    margin: 16px 0;
}
