* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    min-width: 1000px;
}

#results_header {
    position: relative;
    height: 59px;
    width: 100%;
    background-color: #f1f1f1;
    border-bottom: 1px solid #e5e5e5;
}

.sprites {
    display: inline-block;
    background: url("../images/nav_logo242.png");
    background-repeat: no-repeat;
}

#logo_container {
    display: inline-block;
    padding: 10px 13px; 
}

#logo_container a {
    display: block;
    height: 37px;
    width: 95px;
    overflow: hidden;
    position: relative;
}

#logo_container a img {
    position: absolute;
    top: -41px;
}

form {
    display: inline-block;
}

input[type=text] {
    position: relative; bottom: 12px;
    height: 40px;
    width: 570px;
    font-size: 1em;
    font-weight: normal;
}

#submit_cont {
    position: relative; bottom: 14px;
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #4285F4;
    border-radius: 2px;
}

input[type=submit] {
    width: 30px;
    height: 27px;
    margin: 5px;
    background-position: -104px -53px;
    border: none;
}

#results_header ul {
    display: inline-block;
    position: absolute;
    right: 80px;
}

#name {
    position: relative; bottom: 7px;
}

#results_header ul li {
    display: inline-block;
    margin: 15px 5px;
}

#results_header ul li img {
    height: 30px;
    width: 30px;
}

ul, li {
    display: inline-block;
}

#public_switch {
    display: inline-block;
    height: 35px;
    width: 120px;
    background-color: grey;
    overflow: hidden;
}

#menu_bar {
    width: 100%;
    height: 50px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#menu_bar * {
    margin: 6px 0;
}
