* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

a {
    text-decoration: none;
    color: #1a0dab;
}

body {
    min-width: 1000px;
}

#results_header {
    position: relative;
    height: 59px;
    width: 100%;
    background-color: #f1f1f1;
    border-bottom: 1px solid #e5e5e5;
}

.sprites {
    display: inline-block;
    background: url("../images/nav_logo242.png");
    background-repeat: no-repeat;
}

#logo_container {
    display: inline-block;
    padding: 10px 13px; 
}

#logo_container a {
    display: block;
    height: 37px;
    width: 95px;
    overflow: hidden;
    position: relative;
}

#logo_container a img {
    position: absolute;
    top: -41px;
}

form {
    display: inline-block;
}

input[type=text] {
    position: relative; bottom: 12px;
    height: 40px;
    width: 570px;
    font-size: 1em;
    font-weight: normal;
}

#submit_cont {
    position: relative; bottom: 14px;
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #4285F4;
    border-radius: 0px 2px 2px 0px;
}

input[type=submit] {
    width: 30px;
    height: 27px;
    margin: 5px;
    background-position: -104px -53px;
    border: none;
}

#results_header ul {
    display: inline-block;
    position: absolute;
    right: 40px;
}

#name {
    position: relative; bottom: 7px;
}

#results_header ul li {
    display: inline-block;
    margin: 15px 5px;
}

#results_header ul li img {
    height: 30px;
    width: 30px;
}

ul, li {
    display: inline-block;
}

#menu_rt {
    display: inline-block;
    position: absolute;
    right: 45px;
    top: 14px;
    height: 30px;
}

#settings_lnk {
    position: relative;
    display: inline-block;
    height: 30px;
}

#public_switch, #settings {
    display: inline-block;
    height: 30px;
    overflow: hidden;
}

#public_switch {
    width: 90px;
    position: relative;
    margin-right: 12px;
}

#public_switch a {
    height: 30px;
    display: inline-block;
}

#public_switch a div {
    overflow: hidden;
    display: inline-block;
    width: 43px;
    height: 28px;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 2px 0px 0px 2px;
    margin: 0;
    padding: 0;
    background-color: #e0e0e0;
}
#public_switch a div div{
    width: 16px;
    height: 16px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin: 5px 14px;
    border: none;
    background-color: transparent;
}

#public_switch .nlb {
    border-left: none;
    border-radius: 0px 2px 2px 0px;
    background-color: #eee;
}

#private {
    position: absolute;
    top: -327px;
    left: -14px;
}

#public {
    position: absolute;
    top: -327px;
    left: -29px;
}

#settings {
    width: 75px;
    border: 1px solid #ccc;
    height: 28px;
    background-color: #eee;
    position: relative;
}

#settings div {
    height: 20px;
    width: 20px;
    overflow: hidden;
    position: relative;
    display: block;
    margin: 4px auto;
}

#settings div img {
    position: absolute;
    top: -258px;
    left: -42px;
}

#menu_bar {
    width: 100%;
    height: 58px;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    position: relative;
}

#menu_bar ul {
    margin-left: 125px;
    margin-top: 18px;
}

.selected {
    color: #4285f4 !important;
    font-weight: bold;
    border-bottom: 3px solid #4285f4;
}

#menu_bar ul li a {
    text-decoration: none;
    color: #666;
    font-size: .9em;
    padding: 15px 8px 18px 8px;
    margin: 0 3px;
}

#profile {
    height: 32px !important;
    width: 32px !important;
    border-radius: 100%;
    top: 11px;
}

#l_col {
    position: absolute;
    left: 136px;
    margin-top: 13px;
    width: 550px;
}

#l_col a:hover, #summary a:hover {
    text-decoration: underline;
}

#num_res {
    font-size: .8em;
    color: #808080;
    margin-bottom: 20px;
}

#news, #results, #related {
    border-bottom: 1px solid #ebebeb;
}

#news img {
    display: inline-block;
    float: left;
}

#news_top {
    height: 100px;
    width: 400px;
    display: inline-block;
    float: left;
    margin-bottom: 14px;
    padding-left: 8px;
}

#news_top p {
    font-size: .84em;
    margin-bottom: 2px;
}

.source {
    font-size: .8em !important;
    color: #006621;
}

.source span {
    color: #808080;
}

h3, h4, h5 {
    font-weight: normal
}

h4 {
    color: #808080;
    margin: 8px 0;
    font-size: 1.1em;
}

p {
    color: #545454;
}

.more {
    margin: 16px 0;
}

#results , #related{
    padding-bottom: 20px;
    margin-bottom: 20px;
}

#results h3 {
    margin-top: 20px;
}

#results p {
    font-size: .84em;
    margin-bottom: 2px;
}

h5 {
    margin-top: 9px;
    margin-bottom: 3px;
}

#top_story {
    margin-bottom: 3px;
}

.thumbnail {
    width: 118px;
    height: 67px;
    overflow: hidden;
    position: relative;
    float: left;
    margin: 5px 6px 0 0;
}

.thumbnail img {
    position: absolute;
    top: -12px;
}

.date {
    color: #808080;
}

.dur {
    position: absolute;
    background-color: black;
    color: white;
    right: 0;
    bottom: 2px;
    font-size: .75em;
    font-weight: bold;
    padding: 2px;
}

#related {
    overflow: hidden;
}

#related h3 {
    color: #808080;
    margin-bottom: 16px;
}

.related_col {
    float: left;
    margin-right: 16px;
}

.related_col p {
    padding-bottom: 7px;
    font-size: .8em;
}

#results_nav {
    margin: 25px auto;
    width: 300px;
}

#results_nav table {
    border-collapse: collapse;
}

#results_nav table tr td{
    text-align: center;
}

#results_nav table tr td a{
    color: #4285f4;
    font-size: .8em;
    display: block;
}

#results_nav .o_cont {
    background: url(../images/nav_logo242.png) no-repeat;
    width: 20px;
    height: 40px;
    display: block;
    background-position: -74px 0;
}

#rnav_lead {
    background: url(../images/nav_logo242.png) no-repeat;
    height: 40px;
    width: 28px;
    display: block;
    background-position: -24px 0;
}

#rnav_tail {
    background: url(../images/nav_logo242.png) no-repeat;
    height: 40px;
    width: 71px;
    display: block;
    background-position: -96px 0;
}

#nav_last {
    text-align: right !important;
}

#next_txt {
    display: block;
    margin-left: 53px;
}

.first_o {
    background-position: -53px 0 !important;
}

#summary {
    position: absolute;
    left: 700px;
    margin-top: 53px;
    width: 454px;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
}

#pictures {
    position: relative;
    height: 186px;
    margin-bottom: 12px;
}

#main_pic {
    width: 186px;
    height: 186px;
    overflow: hidden;
    float: left;
}

.top_row {
    width: 133px;
    height: 88px;
    overflow: hidden;
    float: left;
    border-left: 1px solid white;
}

.bottom_row {
    width: 88px;
    height: 97px;
    overflow: hidden;
    float: left;
    border-left: 1px solid white;
    border-top: 1px solid white;
}

#more_img {
   position: absolute;
   bottom: 0;
   right: 0;
   padding: 7px;
   color: white;
   background: rgba(0, 0, 0, 0.4);
   letter-spacing: 1px;
   transition: background 0.2s ease-in-out 0s;
}

#more_img:hover {
    text-decoration: underline;
    background: black;
}

#summary_contents {
    margin: 0 15px 5px 15px;
}

h1 {
    font-weight: normal;
    font-size: 1.9em;
}

#summary_contents p {
    font-size: .8em;
    margin-top: 6px;
    color: black;
}

#summary_contents h3 {
    margin-top: 24px;
    margin-bottom: 5px;
}

.store {
    border-top: 1px solid #ebebeb;
    padding: 8px 0;
    color: black;
    font-size: .8em;
}

.store img {
    margin-right: 6px;
    position: relative;
    top: 3px;
}

.ul {
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 8px;
}

#synopsis {
    margin-bottom: 12px;
}

#songs {
    font-size: 13px;
    width: 424px;
    table-layout: fixed;
    border-collapse: collapse;
    line-height: 1.24;
}

#songs tr:first-child td {
    border-top: 1px solid #f5f5f5;
}

#songs td {
    border-bottom: 1px solid #f5f5f5;
    height: 27px;
    white-space: nowrap;
    word-wrap: normal;
    padding-right: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.s_title .s_album {
    width: 40%;
}

.s_year {
    width: 20%;
    text-align: center;
}

#songs_cont {
    max-height: 140px;
    overflow-x: hidden;
    overflow-y: auto;
}
